/* heading of page */
.Patient-content  h1{
    font-size: 42px;
    font-weight: 700;
    margin-left: 300px;
    margin-top: 30px;
    color: #1f2937;
    margin-bottom: 10px;
}

.Patient-content .subTitle-Patient{
    font-size: 18px;
    margin-left: 300px;
    color: #6b7280;
    margin-bottom: 35px;
}