.multi-select-container{

    width:300px;
    position:relative;
    font-family:Arial;

}



.multi-label{

    display:block;
    margin-bottom:8px;
    font-size:14px;
    font-weight:600;

}



.multi-select-box{


    height:42px;

    border:1px solid #ccc;

    border-radius:8px;

    padding:0 12px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    cursor:pointer;

    background:white;

}



.multi-option-list{


    position:absolute;

    top:75px;

    width:100%;

    background:white;

    border:1px solid #ddd;

    border-radius:8px;

    padding:10px;

    box-shadow:0px 5px 15px rgba(0,0,0,0.15);

    z-index:100;

}



.option-item{


    display:flex;

    align-items:center;

    gap:10px;

    padding:8px;

    cursor:pointer;

}



.option-item:hover{

    background:#f2f2f2;

}



.option-item input{

    width:16px;
    
    height:16px;

}